* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

header {
    height: 60px;
    display: flex;
    align-items: center;
    border: 1px dotted black;
}

.logo {
    width: 80%;
}

.logo-section {
    display: flex;
    justify-content: center;
    width: 20%;
    border: 1px dotted black;
}

.logo-section a {
    display: flex;
    justify-content: center;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
}

.usersearch {
    position: absolute;
    top: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.search-results {
    display: flex;
    align-items: center;
    background-color: gray;
    margin: 3px 0 0 0;
}

.search-results p {
    margin: 0 5px 0 5px;
}

.results {
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 20%;
    border: 1px dotted black;
}

main {
    flex: auto;
    display: flex;
    border: 1px dotted black;
}

.sidebar-container-left {
    width: 20%;
    height: 100vh;
    border: 1px dotted black;
}

.content-container {
    width: 60%;
    height: 100vh;
    border: 1px dotted black;
}

.recent-users {
    width: 100%;
    height: 100px;
    display: flex;
}

.recent-user {
    width: 25%;
}

.recent-user img {
    width: 97%;
    height: 97%;
    border-radius: 5px;
    margin: 2px;
    object-fit: cover;
    object-position: left top;
}

.profile-header {
    display: flex;
}

.sidebar-container-right {
    width: 20%;
    height: 100vh;
    border: 1px dotted black;
}

footer {
    height: 30px;
    border: 1px dotted black;
}

.greeting {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: burlywood;
}

.avatar-small {
    background-image: url(https://imageboard-spiced.s3.eu-central-1.amazonaws.com/7YJqwX-73OQymo6uXEZCt719xcS_38_u.png);
    border-radius: 5px;
    height: 40px;
    width: 40px;
}

.avatar-user-search {
    height: 60px;
    width: 60px;
}

.avatar-big {
    background-image: url(https://imageboard-spiced.s3.eu-central-1.amazonaws.com/7YJqwX-73OQymo6uXEZCt719xcS_38_u.png);
    height: 200px;
    width: 200px;
}

.blackbox {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
}

.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: cornflowerblue;
}

.custom-button img {
    width: 30px;
    height: 30px;
}

.friend-list {
    display: flex;
}

.friend-list img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin: 2px;
    object-fit: cover;
    object-position: left top;
}

.avatar-chat {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    object-fit: cover;
    object-position: left top;
    margin-right: 5px;
}

.chat-message {
    display: flex;
}

.chat-name {
    margin: 0;
}

.chat-box {
    height: 50vh;
    overflow: scroll;
}
