* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

header {
    height: 100px;
    display: flex;
    border: 1px dotted black;
}

main {
    flex: auto;
    display: flex;
    border: 1px dotted black;
}

.sidebar-container-left {
    width: 20%;
    height: 100vh;
    border: 1px dotted black;
}

.content-container {
    width: 60%;
    height: 100vh;
    border: 1px dotted black;
}

.profile-header {
    display: flex;
}

.sidebar-container-right {
    width: 20%;
    height: 100vh;
    border: 1px dotted black;
}

footer {
    height: 30px;
    border: 1px dotted black;
}

.greeting {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: burlywood;
}

.avatar-small {
    background-image: url(https://imageboard-spiced.s3.eu-central-1.amazonaws.com/7YJqwX-73OQymo6uXEZCt719xcS_38_u.png);
    height: 80px;
    width: 80px;
}

.avatar-big {
    background-image: url(https://imageboard-spiced.s3.eu-central-1.amazonaws.com/7YJqwX-73OQymo6uXEZCt719xcS_38_u.png);
    height: 200px;
    width: 200px;
}

.blackbox {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
}
